.category{
  width: 180px;
  height: 180px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.category__name{
  font-size: 22px;
  padding: 16px;
  font-weight: bold;
  color: white;
}
.category__pic{
  width: 100px;
  height: 100px;
  position: relative;
  top: 25px;
  left: 95px;
  transform: rotate(25deg);
  overflow: hidden !important;
}