body{
  overflow-y: scroll;
}
.leftMenu {
  width: 240px;
  height: 100%;
  min-height: 100vh;
  background: black;
  backdrop-filter: blur(10px);
  padding: 25px 24px;
  overflow: hidden;
  transition: all 0.3 ease;
}
.logoContainer {
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 19px;
  width: 130px;
  cursor: pointer;
  padding-bottom: 16px;
}
.logo {
  font-size: 30px;
}



.leftMenuOption {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  transition: .5s;
}
.leftMenuOption:hover {
  color: #ffffff;
}
.leftMenuOption :nth-child(2) {
  margin-left: 15px;
}
.leftMenuOption > span {
  font-size: 14px;
  font-weight: 600;
}
.leftMenuOption__bottom1 {
  margin-top: 45px;
}

.special {
  font-weight: 900;
}
.MenuContainer {
  border-bottom: #282828 solid 0.5px;
}
.plus {
  width: 24px;
  height: 24px;
  background-color: #b3b3b3;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: black;
  font-size: 20px;
  position: relative;
  border-radius: 1px;
  
}
.plus > div {
  position: absolute;
  top: -3px;
  right: 4.5px;
}
.favorite {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  background: rgb(59, 38, 117);
  background: linear-gradient(
    145deg,
    rgba(59, 38, 117, 1) 17%,
    rgba(107, 89, 163, 1) 52%,
    rgba(125, 113, 157, 1) 64%,
    rgba(198, 196, 203, 1) 100%
  );
}
.leftMenuOption__bottom > span{
  font-weight: bold;
}